@model PROSupport.Models.BusinessCentre

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BusinessCentre</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CentreNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CentreNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CentreName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CentreName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfFloors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfFloors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CentreContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CentreContact.STString)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CentreManager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CentreManager.STString)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CentreNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CentreNotes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
