@model NetelloBusinessSolution.Models.TestModels.PROWorkReport

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PROWorkReport</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedPerson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedPerson.CName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderedBy.CName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkStarted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkStarted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkEnded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkEnded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeWorked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeWorked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentPerHour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentPerHour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPayment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPayment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseOrder.POName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkNote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkNote)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
