@model Contacts.Models.SIFModels.SIFRef

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SIFRef</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SSN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SSN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefCategoryType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefCategoryType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefDistrict)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefDistrict)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefClub)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefClub)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeasonRegistred)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeasonRegistred)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
