@model Contacts.Models.ViewModels.ContactsViewModel

<div>
    <a class="btn btn-success btn-sm" asp-controller="Home" asp-action="Contacts">Back to Contacts Main Page !</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contacts[0].AgeCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacts[0].Team)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacts[0].Club)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacts[0].District)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacts[0].Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacts[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacts[0].PhoneNumbers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacts[0].Email)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Contacts.OrderBy(c=>c.District.DistrictName) ) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AgeCategory.AgeCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Club.ClubName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.District.DistrictName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumbers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
        </tr>}
    </tbody>
</table>
<div>
    <a class="btn btn-success btn-sm" asp-controller="Home" asp-action="Contacts">Back to Contacts Main Page !</a>
</div>